 <section class="border-white/20  border-y">
        <div class="text-white mx-auto">
          <div class="mx-auto overflow-hidden overflow-x-hidden py-2 relative">
            <div class="w-full justify-between grid">
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r">
              </div>
              <div
                class="absolute from-black inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-l ml-auto">
              </div>
            </div>
            <div
              class="flex items-center animate-marquee font-black font-display gap-4 relative tracking-widest uppercase whitespace-nowrap">
              psymatica club <span class="hidden lg:inline">✺</span>psymatica club <span
                class="hidden lg:inline">✺</span
              > psymatica club <span class="hidden lg:inline">✺</span> psymatica club <span
                class="hidden lg:inline">✺</span
              >psymatica club <span class="hidden lg:inline">✺</span> psymatica club <span
                class="hidden lg:inline">✺</span
              > psymatica club <span class="hidden lg:inline">✺</span>psymatica club <span
                class="hidden lg:inline">✺</span
              > psymatica club <span class="hidden lg:inline">✺</span> psymatica club
            </div>
            <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1779575532&color=%2358729b&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/drankenstein00" title="drankenstein" target="_blank" style="color: #cccccc; text-decoration: none;">drankenstein</a> · <a href="https://soundcloud.com/drankenstein00/sets/psymatica" title="Psymatica" target="_blank" style="color: #cccccc; text-decoration: none;">Psymatica</a></div>
          </div>
        </div>
      </section>