<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Our expertise lies in crafting digital sanctuaries using modern web technologies. Through the use of intuitive design and immersive storytelling, we bring your vision to life in a way that celebrates the richness of ancient traditions. Let Psymatica guide you to a digital presence that truly stands out, with the perfect blend of wisdom and swagger.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Our expertise lies in crafting digital sanctuaries using modern web technologies. Through the use of intuitive design and immersive storytelling, we bring your vision to life in a way that celebrates the richness of ancient traditions. Let Psymatica guide you to a digital presence that truly stands out, with the perfect blend of wisdom and swagger.
      </p>
    </div>
  </div>
</section>
